@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8;
    text-align: center;
    height: 350px;
    width: 275px;
}
p1{
    color: #4da6ff; 
}
#buddy{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
}
h1{
    font-family: 'Inter', sans-serif;
    color: black;
    text-align: center;
    position: relative;
    top: 5px;
    font-size: 25pt;
}
p2{
    color:#4da6ff;
}
button{
    background-color: #F8F8F8; 
    color:black; 
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 175px;
}
#settings{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
#refresh{
    position:absolute;
    top:5px;
    right:5px;
    cursor: pointer;
}

